
CinePapu/CinePapu/obj
CinePapu/.vs
CinePapu/CinePapu/bin
CinePapu/.vs/CinePapu/v14/.suo
CinePapu/.vs/CinePapu/v14/.suo
CinePapu/.vs/config/applicationhost.config
CinePapu/CinePapu/bin/CinePapu.dll
CinePapu/CinePapu/bin/CinePapu.pdb
CinePapu/CinePapu/obj/Release/_WPPLastBuildInfo.txt
CinePapu/CinePapu/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
CinePapu/.vs/CinePapu/v14/.suo
